# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod


pool:
  name: Selfhosted

variables:
   - group: Terraform-prod


stages:
  - stage: tfvalidate
    jobs:
      - job: validate
        continueOnError: false
        steps:
          - checkout: self
            clean: true
          - task: TerraformInstaller@1
            displayName: tfinstall
            inputs:
              terraformVersion: 'latest'
          - task: TerraformTask@5
            displayName: init
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'Terraform-connection'
              backendAzureRmResourceGroupName: 'bkstrgrg'
              backendAzureRmStorageAccountName: 'bkstrg'
              backendAzureRmContainerName: 'bkcontainer'
              backendAzureRmKey: 'bkstrgkey'
          - task: TerraformTask@5
            displayName: validate
            inputs:
              provider: 'azurerm'
              command: 'validate'
  - stage: tfdeploy
    condition: succeeded ('tfvalidate')
    dependsOn: tfvalidate
    jobs:
      - deployment : apply
        displayName: deploy prod
        environment: prod
        strategy:
          runOnce:
            deploy:
             steps:
               - task: TerraformInstaller@1
                 inputs:
                  terraformVersion: 'latest'
               - task: TerraformTask@5
                 inputs:
                   provider: 'azurerm'
                   command: 'init'
                   workingDirectory: '$(System.DefaultWorkingDirectory)/envs/prod'
                   backendServiceArm: 'Terraform-connection'
                   backendAzureRmResourceGroupName: '$(bkstrgrg)'
                   backendAzureRmStorageAccountName: '$(bkstrg)'
                   backendAzureRmContainerName: '$(bkcontainer)'
                   backendAzureRmKey: '$(bkstrgkey)'
               - task: DownloadSecureFile@1
                 name: tfvars
                 displayName: download tfvars
                 inputs:
                   secureFile: 'prod-terraform.tfvars'
               - task: TerraformTask@5
                 displayName: plan
                 inputs:
                   provider: 'azurerm'
                   command: 'plan'
                   workingDirectory: '$(System.DefaultWorkingDirectory)/envs/prod'
                   environmentServiceNameAzureRM: 'Terraform-connection'
                   commandOptions: '-var-file=$(tfvars.secureFilePath)'
               - task: TerraformTask@5
                 displayName: apply
                 inputs:
                   provider: 'azurerm'
                   command: 'apply'
                   workingDirectory: '$(System.DefaultWorkingDirectory)/envs/prod'
                   environmentServiceNameAzureRM: 'Terraform-connection'
                   commandOptions: '-var-file=$(tfvars.secureFilePath)'